parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/backend/activateSnippet.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/backend/addSnippet.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/backend/deactivateSnippet.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/backend/getSnippet.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/backend/getSnippets.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/backend/removeSnippets.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/backend/saveSnippet.php

		-
			message: "#^Cannot call method addEvent\\(\\) on QUI\\\\Events\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/EventHandler.php

		-
			message: "#^Cannot call method isInstalled\\(\\) on QUI\\\\Package\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/EventHandler.php

		-
			message: "#^Property QUI\\\\HtmlSnippets\\\\EventHandler\\:\\:\\$events type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/EventHandler.php

		-
			message: "#^Method QUI\\\\HtmlSnippets\\\\Snippet\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/Snippet.php

		-
			message: "#^Parameter \\#2 \\$User of static method QUI\\\\Permissions\\\\Permission\\:\\:checkPermission\\(\\) expects bool\\|QUI\\\\Users\\\\User\\|null, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/Snippet.php

		-
			message: "#^Cannot call method isInstalled\\(\\) on QUI\\\\Package\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/SnippetTemplateEvent.php

		-
			message: "#^Method QUI\\\\HtmlSnippets\\\\SnippetTemplateEvent\\:\\:__construct\\(\\) has parameter \\$snippets with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/SnippetTemplateEvent.php

		-
			message: "#^Method QUI\\\\HtmlSnippets\\\\SnippetTemplateEvent\\:\\:onFireEvent\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/SnippetTemplateEvent.php

		-
			message: "#^Property QUI\\\\HtmlSnippets\\\\SnippetTemplateEvent\\:\\:\\$snippets type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/SnippetTemplateEvent.php

		-
			message: "#^Method QUI\\\\HtmlSnippets\\\\Snippets\\:\\:getList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/Snippets.php

		-
			message: "#^Method QUI\\\\HtmlSnippets\\\\Snippets\\:\\:getSnippetData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/HtmlSnippets/Snippets.php

		-
			message: "#^Parameter \\#2 \\$User of static method QUI\\\\Permissions\\\\Permission\\:\\:checkPermission\\(\\) expects bool\\|QUI\\\\Users\\\\User\\|null, QUI\\\\Interfaces\\\\Users\\\\User\\|null given\\.$#"
			count: 2
			path: src/QUI/HtmlSnippets/Snippets.php
